<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReImage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<style>
  .gradient-border {
    border: 1px solid;
    border-color: linear-gradient(94deg, #BF5AF2 0%, #64D2FF 48%, #0A84FF 100%);
}


    .gradient-text {
        background: linear-gradient(94deg, #BF5AF2 0%, #64D2FF 48%, #0A84FF 100%);
        -webkit-background-clip: text;
        color: transparent;
    }

    @font-face {
  font-family: "Int";
  src: url("static/font/inter.ttf");
}

            @font-face {
  font-family: "IntR";
  src: url("static/font/intR.ttf");
}
</style>
<body style="background-color: #2c2c2c;  font-weight: bold;  font-family: Int;">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
  <div class="col-md-6 mb-2 mb-md-0" style="margin-left: 125px; display: flex; width: 178px; justify-content: space-between; align-items: center; height: 60px; margin-top: 20px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" >
        <img src="{{ url_for('static', filename='photos/Logo.png') }}">
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="margin-top:0px; font-family: IntR;">
    <li><a href="#" class="nav-link px-2 "><div style="color: white; font-size: 18px;  font-weight: 500; line-height: 22px; word-wrap: break-word">Home </div></a></li>
    <li><a href="/about" class="nav-link px-2 "><div style="color: white; font-size: 18px; font-weight: 500; line-height: 22px; word-wrap: break-word">About Us </div></a></li>
  </ul>

  <div class="col-md-3 text-end " style="margin-right: 128px; width:216px; height: 48px; position:relative; top:-10px;">
    <button style="margin-top:10px; width: 100%; height: 100%;  justify-content: space-between; align-items: flex-start; display: inline-flex; border: 1px transparent; background-color: transparent;">
        <img src="{{ url_for('static', filename='photos/button.png') }}" style="width: 100%; height: 100%; ">
</button>

  </div>
</header>
<hr style="border: 0; height: 2px; background: linear-gradient(94deg,  #0A84FF 0%, #64D2FF 48%, #BF5AF2 100%); position:relative; top:-20px;">
<div style="width: 100%; height: 100%; padding: 128px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
    <div style="width: 1664px; justify-content: space-between; align-items: center; display: inline-flex">
        <div style="height: 408px; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="height: 296px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
                <div style="width: 830px; justify-content: space-between; align-items: flex-start; display: inline-flex">
                    <div style="width: 830px; color: #BF5AF2; font-size: 72px;font-weight: 700; "><span class="gradient-text">Elevate Your Creativity</span> <span class="gradient-text">with ReImage!</span></div>
                </div>
                <div style="width: 677px; justify-content: space-between; align-items: flex-start; display: inline-flex">
                    <div style="width: 677px"><span style="color: rgba(255, 255, 255, 0.70); font-size: 24px; font-weight: 700; line-height: 30px; word-wrap: break-word">Unleash the power of AI with</span><span style="color: white; font-size: 24px; font-weight: 700; line-height: 30px; word-wrap: break-word"> ReImage </span><span style="color: rgba(255, 255, 255, 0.70); font-size: 24px;  font-weight: 700; line-height: 30px; word-wrap: break-word">- your all-in-one Photo Editor & Art Generator. Transform your photos and ideas into stunning artworks effortlessly.</span></div>
                </div>
            </div>
            <div style="width: 401px; justify-content: space-between; align-items: flex-start; display: inline-flex; position:relative; top: 56px;">
                <!-- Первая кнопка -->
<button style="width: 184px; height: 56px; border-radius: 8px; border: 1px transparent; background-color: transparent; display: flex; justify-content: center; align-items: center;">
    <img src="{{ url_for('static', filename='photos/appStore.png') }}" style="width: 100%; height: 100%; border-radius: 8px;">
</button>

<!-- Вторая кнопка -->
<button style="width: 184px; height: 56px; border-radius: 8px; border: 1px transparent; background-color: transparent; display: flex; justify-content: center; align-items: center;">
    <img src="{{ url_for('static', filename='photos/googlePlay.png') }}" style="width: 100%; height: 100%; border-radius: 8px;">
</button>

            </div>
        </div>
        <div style="padding-left: 48px; padding-right: 48px; padding-top: 96px; padding-bottom: 96px; justify-content: center; align-items: center; display: flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
                <img style="width: 336px; height: 640px" src="{{ url_for('static', filename='photos/phone1.png') }}" />
                <img style="width: 380px; height: 640px" src="{{ url_for('static', filename='photos/phone2.png') }}" />
            </div>
        </div>
    </div>
    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        <div style="color: white; font-size: 18px; font-weight: 500; line-height: 22px; word-wrap: break-word">Scroll down</div>
        <div style="width: 24px; height: 24px; position: relative">
             <img style="width: 24px; height: 24px" src="{{ url_for('static', filename='photos/mouse.png') }}" />
        </div>
    </div>
</div>


<!-- 2Page-->
<div style="width: 100%; height: 100%; padding: 128px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 104px; display: inline-flex">
    <div style="color: white; font-size: 40px; font-weight: 600; line-height: 48px; word-wrap: break-word">Amazing AI Features</div>
    <div style="width: 1664px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 128px; display: flex">
        <div style="width: 582px; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="width: 64px; height: 64px; position: relative">
                <img src="{{ url_for('static', filename='photos/1.png') }}">
            </div>
            <div style="height: 68px; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
                <div style=" font-size: 32px; font-weight: 600; line-height: 38px; word-wrap: break-word" class="gradient-text">AI Styles</div>
                <div style="color: rgba(255, 255, 255, 0.70); font-size: 18px;  font-weight: 500; line-height: 22px; word-wrap: break-word">Discover limitless artistic styles to redefine your images.</div>
            </div>
        </div>
        <div style="width: 1664px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
            <div style="width: 1664px; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="width: 812px; height: 1060px; position: relative">
                    <div style="width: 423px; height: 860px; padding: 24px; left: 389px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.15); border-radius: 60px; overflow: hidden; border: 4px #64D2FF solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                        <img style="width: 375px; height: 812px; position: relative; border-radius: 40px" src="{{ url_for('static', filename='photos/2page/big2.png') }}" />
                    </div>
                    <div style="width: 423px; height: 860px; padding: 24px; left: 0px; top: 200px; position: absolute; background: rgba(255, 255, 255, 0.15); box-shadow: 48px 24px 50px -12px rgba(0, 0, 0, 0.25); border-radius: 60px; overflow: hidden; border: 4px #64D2FF solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                        <img style="width: 375px; height: 812px; position: relative; border-radius: 40px" src="{{ url_for('static', filename='photos/2page/big1.png') }}" />
                    </div>
                </div>
                <div style="width: 726px; height: 1132px; flex-direction: column; justify-content: space-between; align-items: center; display: inline-flex">
                    <div style="width: 726.18px; justify-content: space-between; align-items: center; display: inline-flex">
                        <div style="width: 312px; height: 220px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 312px; height: 220px; position: relative">
                                <div style="width: 164px; height: 199.83px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15); flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                    <img style="width: 164px; height: 200px; border-radius: 8px" src="{{ url_for('static', filename='photos/2page/before1.png') }}" />
                                </div>
                                <div style="width: 164px; height: 199.83px; left: 148px; top: 20.17px; position: absolute; box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15); flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                    <img style="width: 164px; height: 200px; border-radius: 8px; border: 1px #64D2FF solid" src="{{ url_for('static', filename='photos/2page/after1.png') }}" />
                                </div>
                            </div>
                        </div>
                        <div style=" justify-content: flex-start; align-items: center; display: flex">
                            <div style="width: 184px; height: 220px;  justify-content: center; align-items: center; display: inline-flex; position: relative; left:30px;">
                                <img style="width: 184px; height: 220px; border-radius: 8px" src="{{ url_for('static', filename='photos/2page/after2.png') }}" />
                            </div>
                            <div style="width: 164px; height: 200px;flex-direction: column; justify-content: center; align-items: center; display: inline-flex; z-index:99;">
                                <img style="width: 164px; height: 200px; border-radius: 8px; border: 1px #64D2FF solid" src="{{ url_for('static', filename='photos/2page/before2.png') }}" />
                            </div>
                        </div>
                    </div>
                    <div style="width: 726.18px; justify-content: space-between; align-items: center; display: inline-flex">
                        <div style="">
                            <div style="width: 204px; height: 240px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex; position:relative; right:20px;">
                                <img style="width: 204px; height: 240px; border-radius: 8px" src="{{ url_for('static', filename='photos/2page/after3.png') }}" />
                            </div>
                            <div style="width: 194px; height: 230px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex; z-index:99; position:relative; right:60px;">
                                <img style="width: 194px; height: 230px; border-radius: 8px; border: 1px #64D2FF solid" src="{{ url_for('static', filename='photos/2page/before3.png') }}" />
                            </div>
                        </div>
                        <div style="width: 312px; height: 220px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 312px; height: 220px; position: relative; ">
                                <div style="width: 312px; height: 220px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 312px; height: 220px; position: relative">
                                <div style="width: 184px; height: 221px; left: 0px; top: 20.17px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex; z-index:99;">
                                    <img style="width: 184px; height: 221px; border-radius: 8px" src="{{ url_for('static', filename='photos/2page/before4.png') }}" />
                                </div>
                                <div style="width: 184px; height: 221px; left: 148px;  position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                    <img style="width: 184px; height: 221px; border-radius: 8px; border: 1px #64D2FF solid" src="{{ url_for('static', filename='photos/2page/after4.png') }}" />
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 723.51px; justify-content: space-between; align-items: center; display: inline-flex">
                        <div style="width: 312px; height: 220px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 312px; height: 220px; position: relative">
                                <div style="width: 185px; height: 221px; left: 0px; top: 0px; position: absolute;  flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                    <img style="width: 185px; height: 221px; border-radius: 8px" src="{{ url_for('static', filename='photos/2page/after5.png') }}" />
                                </div>
                                <div style="width: 185px; height: 221px; left: 148px; top: 20px; position: absolute;  flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                    <img style="width: 185px; height: 221px; border-radius: 8px; border: 1px #64D2FF solid" src="{{ url_for('static', filename='photos/2page/before5.png') }}" />
                                </div>
                            </div>
                        </div>
                        <div style=" justify-content: flex-start; align-items: center; display: flex">
                            <div style="width: 226px; height: 253px;  flex-direction: column; justify-content: center; align-items: center; display: inline-flex; position: relative; left:40px;">
                                <img style="width: 226px; height: 253px; border-radius: 8px" src="{{ url_for('static', filename='photos/2page/before6.png') }}" />
                            </div>
                            <div style="width: 185px; height: 221px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex; z-index:99;">
                                <img style="width: 185px; height: 221px; border-radius: 8px; border: 1px #64D2FF solid" src="{{ url_for('static', filename='photos/2page/after6.png') }}" />
                            </div>
                        </div>
                    </div>
                    <div style="width: 726.18px; justify-content: space-between; align-items: center; display: inline-flex">
                        <div style="justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="width: 185px; height: 221px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                <img style="width: 185px; height: 221px; border-radius: 8px; border: 1px #64D2FF solid" src="{{ url_for('static', filename='photos/2page/before7.png') }}" />
                            </div>
                            <div style="width: 228px; height: 255px;flex-direction: column; justify-content: center; align-items: center; display: inline-flex; z-index: 99; position: relative; right: 40px;">
                                <img style="width: 228px; height: 255px; border-radius: 8px" src="{{ url_for('static', filename='photos/2page/after7.png') }}" />
                            </div>
                        </div>
                        <div style="width: 312px; height: 220px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 312px; height: 220px; position: relative">
                                <div style="width: 185px; height: 221px; left: 148px; top: 0px; position: absolute;  flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                    <img style="width: 185px; height: 221px; border-radius: 8px" src="{{ url_for('static', filename='photos/2page/before8.png') }}" />
                                </div>
                                <div style="width: 185px; height: 221px; left: 0px; top: 20.12px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                                    <img style="width: 185px; height: 221px; border-radius: 8px; border: 1px #64D2FF solid" src="{{ url_for('static', filename='photos/2page/after8.png') }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div style="width: 1273px; height: 250px;position: relative; left: 18%; top: -100px;"><img style="width: 40%; height: 50%" src="{{ url_for('static', filename='photos/arr2.png') }}"></div>

</div>

<!--3Page -->
<div style="width: 100%; height: 100%; padding: 128px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 104px; display: inline-flex; position:relative; top:-250px;">
    <div style="width: 1664px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 128px; display: flex">
        <div style="width: 612px; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="width: 64px; height: 64px; position: relative">
                <img src="{{ url_for('static', filename='photos/3Page/3.png') }}">
            </div>
            <div style="height: 68px; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
                <div style=" font-size: 32px; font-weight: 600; line-height: 38px; word-wrap: break-word" class="gradient-text">Create Art</div>
                <div style="color: rgba(255, 255, 255, 0.70); font-size: 18px;  font-weight: 500; line-height: 22px; word-wrap: break-word">Generates mesmerizing art based on your creative prompts.</div>
            </div>
        </div>
        <div style="width: 50%; flex-direction: column; justify-content: flex-start; align-items: center; display: flex; position: relative; left: 25%;">
            <div style="width: 100%; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="width: 812px; height: 1060px; position: relative">
                    <div style="width: 423px; height: 860px; padding: 24px; left: 389px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.15); border-radius: 60px; overflow: hidden; border: 4px #64D2FF solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                        <img style="width: 375px; height: 812px; position: relative; border-radius: 40px" src="{{ url_for('static', filename='photos/3Page/screen1.png') }}" />
                    </div>
                    <div style="width: 423px; height: 860px; padding: 24px; left: 0px; top: 200px; position: absolute; background: rgba(255, 255, 255, 0.15); box-shadow: 48px 24px 50px -12px rgba(0, 0, 0, 0.25); border-radius: 60px; overflow: hidden; border: 4px #64D2FF solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                        <img style="width: 375px; height: 812px; position: relative; border-radius: 40px" src="{{ url_for('static', filename='photos/3Page/screen2.png') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--4Page -->
<div style="width: 100%; height: 100%; padding: 128px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 128px; display: inline-flex; position:relative; top:-250px;">
    <div style="width: 586px; justify-content: space-between; align-items: center; display: inline-flex">
        <div style="width: 64px; height: 64px; position: relative">
                <img src="{{ url_for('static', filename='photos/4Page/3.png') }}">
        </div>
        <div style="height: 68px; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style=" font-size: 32px;  font-weight: 600; line-height: 38px; word-wrap: break-word" class="gradient-text">AI Selfies</div>
            <div style="color: rgba(255, 255, 255, 0.70); font-size: 18px; font-weight: 500; line-height: 22px; word-wrap: break-word">Create stunning avatars using your smartphone’s camera.</div>
        </div>
    </div>
    <div style="height: 70%; flex-direction: column; justify-content: center; align-items: center; display: flex; position: relative; left:23.5%">
        <div style="flex-direction: column; justify-content: flex-end; align-items: flex-end; display: flex">
            <div style="width: 1087.50px; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="width: 812px; height: 1060px; position: relative">
                    <div style="width: 423px; height: 860px; padding: 24px; left: 389px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.15); border-radius: 60px; overflow: hidden; border: 4px #64D2FF solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                        <img style="width: 375px; height: 812px; position: relative; border-radius: 40px" src="{{ url_for('static', filename='photos/4Page/screen3.png') }}" />
                    </div>
                    <div style="width: 423px; height: 860px; left: 0px; top: 200px; position: absolute">
                        <div style="width: 423px; height: 860px; padding: 24px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.15); box-shadow: 48px 24px 50px -12px rgba(0, 0, 0, 0.25); border-radius: 60px; overflow: hidden; border: 4px #64D2FF solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                            <img style="width: 375px; height: 812px; position: relative; border-radius: 40px" src="{{ url_for('static', filename='photos/4Page/screen1.png') }}" />
                        </div>
                        <img style="width: 300px; height: 300px; left: 62px; top: 504px; position: absolute" src="{{ url_for('static', filename='photos/4Page/anim.gif') }}" />
                    </div>
                </div>
                <div style="padding: 12px; background: rgba(255, 255, 255, 0.15); border-radius: 30px; overflow: hidden; border: 2px #64D2FF solid; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                    <img style="width: 187.50px; height: 406px; position: relative; border-radius: 20px" src="{{ url_for('static', filename='photos/4Page/screen2.png') }}" />
                </div>
            </div>
            <img style="width: 336px; height: 180px" src="{{ url_for('static', filename='photos/4Page/inst1.png') }}" />
        </div>
        <div style="justify-content: flex-start; align-items: flex-start; display: inline-flex; position: relative; left: -100px; ">
            <div style="width: 658px; height: 458px; position: relative; left: 18%; top:-60px;"><img style="width:70%; height: 70%; " src="{{ url_for('static', filename='photos/arr1.png') }}"/></div>
            <img style="width:393px; height: 453px; " src="{{ url_for('static', filename='photos/4Page/inst2.png') }}" />
        </div>
    </div>
</div>
<!--5Page -->

<hr style="border: 0; height: 2px; background: linear-gradient(94deg,  #0A84FF 0%, #64D2FF 48%, #BF5AF2 100%); position: relative; top:-250px;">
<div  style="width: 100%; height: 100%; padding-top: 128px; border: 2px solid; border-image: linear-gradient(94deg, #BF5AF2 0%, #64D2FF 48%, #0A84FF 100%); flex-direction: column; justify-content: flex-start; align-items: center; gap: 56px; display: inline-flex; position:relative; top:-250px;">


    <img src="{{ url_for('static', filename='photos/star.png') }}" style="height: 100%; object-fit: cover; filter: blur(20px); position: absolute; top: 0; left: 37.5%; z-index: -1;" alt="Background Image">

    <div style="width: 822px; height: 170px; flex-direction: column; justify-content: space-between; align-items: flex-start; display: flex">
        <div style="width: 830px; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="width: 830px; text-align: center; color: white; font-size: 40px; font-weight: 600; line-height: 48px; word-wrap: break-word">Join the ReImage Revolution</div>
        </div>
        <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="flex: 1 1 0; text-align: center; color: rgba(255, 255, 255, 0.70); font-size: 24px; font-weight: 700; line-height: 30px; word-wrap: break-word">Ready to transform your photos and ideas into art? Download the ReImage app now or explore our web platform. Start creating, start imagining, start ReImaging!</div>
        </div>
    </div>

    <div style="width: 401px; justify-content: space-between; align-items: center; display: inline-flex; margin-bottom: 70px;">
        <button style="width: 184px; height: 56px; border-radius: 8px; border: 1px transparent; background-color: transparent; display: flex; justify-content: center; align-items: center;">
            <img style="width: 100%; height: 100%;" src="{{ url_for('static', filename='photos/appStore.png') }}" />
        </button>
        <button style="width: 184px; height: 56px; border-radius: 8px; border: 1px transparent; background-color: transparent; display: flex; justify-content: center; align-items: center;">
            <img style="width: 100%; height: 100%;" src="{{ url_for('static', filename='photos/googlePlay.png') }}" />
        </button>
    </div>
</div>
<hr style="border: 0; height: 2px; background: linear-gradient(94deg,  #0A84FF 0%, #64D2FF 48%, #BF5AF2 100%); position: relative; top:-250px;">

<!--6Page -->
<div style="width: 100%; height: 100%; padding-top: 128px; padding-bottom: 128px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 128px; display: inline-flex; position: relative; top:-270px;">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
        <div style="width: 701px; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="flex: 1 1 0; text-align: center; color: white; font-size: 32px; font-weight: 600; line-height: 38px; word-wrap: break-word">Unlock Premium Features</div>
        </div>
        <div style="align-self: stretch; justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 701px; text-align: center; color: rgba(255, 255, 255, 0.70); font-size: 18px; font-weight: 500; line-height: 22px; word-wrap: break-word">Subscribe to ReImage for access to exclusive features and endless inspiration. Elevate your art and design with ReImage PRO</div>
        </div>
    </div>
    <div style="width: 1042px; justify-content: space-between; align-items: flex-start; display: inline-flex">
        <img style="width: 360px; height: 640px" src="{{ url_for('static', filename='photos/6Page/screen1.png') }}" />
        <img style="width: 345px; height: 640px; position:relative; right: 30px;" src="{{ url_for('static', filename='photos/6Page/screen3.png') }}" />
        <img style="width: 385px; height: 640px; position:relative; right: 60px;" src="{{ url_for('static', filename='photos/6Page/screen2.png') }}" />
    </div>
</div>

<!--7Page -->

<footer style="width: 100%; height: 400px; padding-top: 128px; padding-bottom: 128px; background: #121212; border-top: 1px rgba(142, 142, 147, 0.70) solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 40px; display: inline-flex;  position: relative; margin-top: -250px;">
    <div style="width: 502; justify-content: space-between; align-items: center; display: inline-flex">
        <div style="width: 502; height: 80px; border-radius: 13px; overflow: hidden; justify-content: center; align-items: center; display: flex">
            <div style="width: 100%; height:100%; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <img style="width: 100%; height:100%; " src="{{ url_for('static', filename='photos/Logo.png') }}">
            </div>
        </div>
    </div>
    <div style="color: rgba(255, 255, 255, 0.70); font-size: 18px; font-weight: 500; line-height: 22px; word-wrap: break-word">Copyright ©2023 ReImage</div>
    <div style="justify-content: flex-start; align-items: flex-start; gap: 64px; display: inline-flex">
        <a href="#" style="color: #8E8E93; font-size: 18px;  font-weight: 500; line-height: 22px; word-wrap: break-word; text-decoration: none;">Privacy Policy </a>
        <a href="#" style="color: #8E8E93; font-size: 18px;  font-weight: 500; line-height: 22px; word-wrap: break-word;text-decoration: none;">Terms of Use </a>
        <a href="#" style="color: #8E8E93; font-size: 18px;  font-weight: 500; line-height: 22px; word-wrap: break-word;text-decoration: none;">Contact </a>
    </div>
</footer>
</body>
</html>